.about {
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#about {
	margin: 0 0 30px 0;
}

.words {
	font-size: calc(1vw + 0.7rem);
	font-weight: 300;
	margin: 0 100px;
}

